@import "../../../css-config/mixins.scss";
.shop-by-categories{
    margin: 25px 0;
    @include md{
        margin: 50px 20px;
    }
    .categories{
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        @include md{
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        .category{
            border-color: black;
            width: calc(50% - 5px);
            cursor: pointer;
            overflow: hidden;
            @include md{
                width: calc(50% - 10px);
                
            }
            img{
                width: 100%;
                display: block;
                transition: all ease 0.3s;
            }
            &:hover{
                img{
                    transform: scale(1.2);
                }
            }
        }
    }
}